$dark0: #222831
$dark1: #393e46
$accent: #00adb5
$light: #eeeeee

:root
  --bg-color: #{$light}
  --text-color: #{$dark0}
  --accent-color: #{$accent}

.dark
  --bg-color: #{$dark0}
  --text-color: #{$light}
